{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block header %} {% endblock %}

{% block body %}

<div class="container-fluid px-4">

    <div class="card mb-4 mt-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Masukkan Jumlah Cluster
        </div>
        <div class="card-body text-center">
            <form action="" method="post" enctype="multipart/form-data">
                <input type="number" name="cluster" required>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    
{% if request.method == 'POST' %}
<div class="row mt-4">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Jumlah Cluster:  <h4>{{cluster}}</h4> </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <!-- <a class="small text-white stretched-link" href="#">View Details</a> -->
                <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Akurasi Silhoutte: <h5>{{score}}</h5> </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <!-- <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
            </div>
        </div>
    </div>
</div>

<h3 class="mt-4">Hasil Clustering</h3>

<div class="card mb-4 mt-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    {% for head in dataHead %}
                    <th>{{head}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    {% for cell in row %}
                    <td>{{cell}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<h1 class="mt-4">Grafik Cluster</h1>
<img src="{{url_for('display_image')}}" alt="" width="50%" height="50%" />

{% endif %}

</div>
{% endblock %}